<!-- Google Map -->
<div class="left-pane" style="height: 100vh; min-height: 500px; position: relative;">
    <div id="map" name="map" style="height: 100%; width: 100%; background-color: #cccccc;"></div>
    
    <!-- Animal Controls Overlay -->
    <div style="position: absolute; top: 10px; left: 50px; z-index: 1000; background: white; padding: 10px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.2); max-width: 300px; max-height: 80vh; overflow-y: auto;">
        <h4 style="margin-top: 0; color: #0057b7;"><i class="fa fa-paw"></i> Rastreo Rápido</h4>
        <div ng-repeat="animal in animalsList" style="margin-bottom: 10px; border-bottom: 1px solid #eee; padding-bottom: 5px;">
            <strong>{{animal.name}}</strong> <span class="badge" style="background:{{animal.colour}}">Potrero {{animal.paddock}}</span><br>
            <div style="margin-top: 5px;">
                <button class="btn btn-xs btn-primary" ng-click="findAnimalDirectly(animal._id)"><i class="fa fa-search"></i> Buscar</button>
                <button class="btn btn-xs btn-default" ng-click="showAnimalTrail(animal._id)"><i class="fa fa-history"></i> Historial</button>
            </div>
        </div>
        <button class="btn btn-xs btn-block btn-danger" ng-click="clearAnimalTrails()" style="margin-top: 10px;"><i class="fa fa-times"></i> Limpiar Rutas</button>
    </div>
</div>

<div class="right-pane">
    <!-- Creates Main Panel -->
    <div class="right" ng-controller="fenceCtrl">
        <!-- Panel Title -->
        <div class="right-heading">
            <h2 class="right-title">Actualizar Ubicación de Cercas
            <img src="images/refresh.png" class="menu-icons" ng-click="updatelist()" width=20px height=20px>
            </h2>
        </div>

        <!-- Panel Body -->
        <div class="right-body">
            <table class="table-points" >
                <thead><tr><td width="45px">ID</td><td width="45px">Punto</td><td>Lat</td><td>Lon</td><td width="70px"></td></tr></thead>
                <tbody id="fenceList">
                    <tr ng-repeat="fencePoint in fencePoints"><td>{{fencePoint.paddock}}</td><td>{{fencePoint.order}}</td><td>{{fencePoint.location[1]}}</td><td>{{fencePoint.location[0]}}</td><td><button type="submit" ng-click="deletePoint(fencePoint._id)" ng-disabled="addForm.$invalid">Eliminar</button></td></tr>
                </tbody>
            </table>

            <form id="addPoint">
                <h3 text-align="right">Insertar Nuevo Punto</h3>
                <div class="form-group">
                <label for="paddock">Potrero (entre 0 y 5):</label>
                    <input type="number" class="form-control" name="paddock" ng-model="formData.paddock" min="0" max="5">
                </div>
                <div class="form-group">
                <label for="point">Punto (entre 0 y 255):</label>
                    <input type="number" class="form-control" name="point" ng-model="formData.point" min="0" max="255">
                </div>
                <div class="form-group">
                <label for="point">Versión:</label>
                    <input type="number" class="form-control" name="version" ng-model="formData.version" min="0" max="255" readonly>
                </div>
                <div class="form-group">
                    <label for="latitude">Latitud</label>
                    <input type="text" class="form-control" id="latitude" value="39.500" ng-model="formData.latitude" readonly>
                </div>
                <div class="form-group">
                    <label for="longitude">Longitud</label>
                    <input type="text" class="form-control" id="longitude" value="-98.350" ng-model="formData.longitude" readonly>
                </div>
                <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                <button type="submit" class="btn btn-danger btn-block" ng-click="addPoint()" ng-disabled="addForm.$invalid">Agregar Punto</button>
                <button type="submit" class="btn btn-danger btn-block" ng-click="send2Devices()" ng-disabled="addForm.$invalid">Cargar a los Collares</button>
            </form>

        </div>
    </div>
</div>
